body{
    margin: 0px;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
}

.container{
    width: 50%;
    height: 50%;
    margin: 7vh auto ;
}
.Text{
    width: 50%;
    display: block;
    margin: 0 auto ;
    color: rgb(241, 131, 179);
    font-size: 270%;
    min-width: 475px;
    
}
p{
    margin: 0;
    text-align: center;
}
.image__container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: 315px;
    z-index: 0;
    max-width: 500px;
    margin: 0 auto;
}
img{
    width: 100%;
    height: 100%;
    
}
.button__container{
    display: flex;
    justify-content: center;
    max-width: 500px;
    margin: 0  auto;
}
button{
    width: 80px;
    height: 40px;
    background-color: rgb(227, 141, 196);
    color: white;
    border: none;
    border-radius: 20px;
}
#No{
    left: 54%;
    position: absolute;
    transition: 1.5s;
}
#Yes{
    margin-right: 50%;   
}
button:hover{
    border: solid 1px white;
    background-color: rgb(243, 117, 197);
}
@media (max-width:600px){
.Text{
    width: 100%;
    font-size: 14px;
    justify-content: center
}
.image__container{
    min-width: 290px;
}
.container{
    width: 100%;
}
.button__container{
    max-width: 300px;
}
}

@media (max-width:900px){
    #No{
        left: 56%;
    }
    .Text{
        font-size: 200%;
        min-width: 390px;
    }
}